[flake8]
select=FCN,M511

exclude =
    doc,
    .tox,
    .git,
    .yml,
    Pipfile.*,
    docs/*,
    .cache/*

fcn_exclude_functions =
    update,
    getLogger,
    loads,
    get,
    next,
    setdefault,
    dumps,
    request,
    list,
    warning,
    join,
    rmtree,
    open,
    os,
    write,
    append,
    sorted,
    compile,
    int,
    extend,
    sleep,
    check_output,
    sub_resource_level,
    func,
    LOGGER,
    findall,
    raises,
    contextlib,
    re,
    requests,
    signal,
    yaml,
    benedict,
    logger,
    warn,
    pytest,
    json,
    template,
    meta,
    tmp_path_factory,
    tmpdir_factory,
    Path,
    writelines,
    submit,
    click,
    ast,

enable-extensions =
    FCN,
