[flake8]
max-line-length = 120
exclude =
    doc,
    .tox,
    .git,
    .yml,
    Pipfile.*,
    ansible/*,
    docs/*,
    .cache/*

fcfn_exclude_functions =
    re,
    split,
    replace,
    os,
    parser,
    int,
    str,
    urllib,
    shutil,
    LOGGER,
    list,
    getattr,
    compile,
    get_plugin,
    ElementTree,
    xml_doc,
    findall,
    record_testsuite_property,
    get,
    time,
    tmpdir_factory,
    sh,
    next,
    json,
    yaml,
    subprocess,
    sorted,
    jinja2,
    xmltodict,
    netaddr,
    dict,
    round,
    request,
    range,
    min,
    len,
    sub,
    extend,
    setdefault,
    float,
    sum,
    append,
    join,
    deepcopy,
    print,
    logging,
    add_option,
    pytest,
    update,
    expect,
    sendline,
    write,
    open,
    insert,
    send,
    namedtuple,
    strip,
    parametrize,
    pop,
    remove,
    console_eof_sampler,
    check_output,
    sleep,
    datetime,
    intersection

enable-extensions =
    FCFN,
