exclude: "class_generator/schema/"

default_language_version:
  python: python3

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v5.0.0"
    hooks:
      - id: check-merge-conflict
      - id: debug-statements
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md] # Do not process Markdown files.
      - id: end-of-file-fixer
      - id: check-ast
      - id: check-builtin-literals
      - id: check-docstring-first
      - id: check-toml

  - repo: https://github.com/PyCQA/flake8
    rev: "7.1.1"
    hooks:
      - id: flake8
        args: [--config=.flake8]
        additional_dependencies:
          [
            "git+https://github.com/RedHatQE/flake8-plugins.git@v0.0.2",
            "flake8-mutable",
          ]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          [
            "--exclude-files=class_generator/schema/*",
            "--exclude-files=class_generator/__k8s-openapi-.*.json",
          ]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.2
    hooks:
      - id: ruff
      - id: ruff-format

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 39.0.0
    hooks:
      - id: renovate-config-validator

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.21.2
    hooks:
      - id: gitleaks

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.13.0
    hooks:
      - id: mypy
        exclude: ^(tests/|examples/|docs/)
        additional_dependencies: ["types-PyYAML", "types-requests"]
