# https://github.com/marketplace/actions/auto-assign-action

name: 'Reviewers Auto Assign'
on:
  pull_request_target:
    types: [opened, ready_for_review]

jobs:
  add-reviews:
    runs-on: ubuntu-latest
    steps:
      - uses: kentaro-m/auto-assign-action@v1.2.0
        with:
          GITHUB_TOKEN: ${{ secrets.CNV_QE_BOT_TOKEN }}
          configuration-path: ".github/reviewers.yml"
